.reserv_head {
    font: 700 1.6rem Arial;
    text-align: center;
    padding: 20px 0 12px;
    border-top: 1px solid black;    
}
.reserv_form {
    text-align: center;
    font-size: 1.1rem;   
}
.reserv_text {
    font: 500 1.2rem Arial;
    padding-bottom: 15px;
}
.reserv_set {
    padding-bottom: 10px;
    text-align: justify-all; 
}
.time { 
    width: 80px;
    height: 32px;
    font-size: 1rem;
    font-family: Arial;
}
.input_field {
    height: 24px;   
    width: 120px;
    padding: 2px;
    font-size: 1rem;
}
#reserv_date {
    width: 125px;
}
.contains {
    width: 100%;
    position: relative; 
    padding-top: 75%; 
}
.contains:before {
    display: block;
    content: '';
    width: 100%;
}   
.plan {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/plan1.png)  no-repeat center/contain;
    box-sizing: border-box;
    padding: 6.5% 13%;   
}
.tables {
    width: 100%;
    height: 100%;    
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.area {
    width: 16.6%;
    height: 20%;        
}
.tab_num {
    display: block;
    width: 10%;
    margin: 40% auto 40%;
}
.table{
    background: url(../img/table.png) no-repeat center/75%;
    cursor: pointer;
}
.busy {
    background: url(../img/table_b.png) no-repeat center/75%;
    cursor: default; 
}
.light_it {
    border: 1px solid red;
    box-shadow: 0 0 4px red; 
}