body {
    font-family: Arial, Helvetica, sans-serif;
}
/*___________HEADER______________*/
header {
    width: 100%;
    position: relative; 
    padding-top: 45%; 
    color: white;
}
header:before {
    display: block;
    content: '';
    width: 100%;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-image: url(../img/slider/slide-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;  
    align-content: space-between;
    -webkit-transition: background-image 0.4s ease-in-out;
    transition: background-image 0.4s ease-in-out;     
}
.logo {
    flex-basis: 15%;
    height: 160px;
}
.logo_img {
    display: block;
    width: 100%;
    margin: 10px auto 10px;
}
.menu_top {
    flex-basis: 70%;
    height: 120px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.menu_container { 
    flex-basis: 64%;
    display: flex;
    justify-content: center;
    height: 40px;
}
.menu_btn {
    border-right: 1px solid white;
    padding: 6px;
    flex-basis: 20%;
    font: 600 1.1rem Arial;
    position: relative;;
}
.menu_btn:last-of-type { border: none; }
.menu_obj {
    display: block;
    text-align: center;
}
.menu_obj:hover, .submenu_obj:hover {
    font-weight: 700;
    color: rgb(221, 184, 90);
    transition: 0.4s ease;
}
.submenu {
    width: auto;
    position: absolute;
    top: 40px;
    left: 20%;
    display: none;
}
.menu_btn:hover .submenu {
    display: block;
}
.menu_btn:hover .submenu li {
    padding-top: 5px;
}
.submenu_obj {
    white-space: nowrap;
}
.searching {
    flex-basis: 15%;
    margin-top: 40px;
}
.srch_btn {
    display: inline-block;
    padding: 3px;
    width: 30%;   
    background-color: rgba(172, 162, 151, 0.246);
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    cursor: pointer;
}
.srch {
    display: inline-block;
    border-style: none;
	width: 65%;
	background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
	outline: none;
	text-align: center;
}
.move {
    cursor: pointer;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: -15px;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    border-radius: 50%;
    z-index: 1;
}
#next {
    right: 10px;
}
#prev {
    left: 10px;
}
.move:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
header hgroup {
    padding: 160px 0 20px;
    flex-basis: 100%; 
    text-align: center;
    font-weight: 700;
}
header hgroup h2 {   
    font-size: 1.6rem; 
}
header hgroup h1 {   
    font-size: 2rem; 
    text-transform: uppercase;
    padding-top: 10px;  
}
header address {
    margin: 15px auto 25px; 
    flex-basis: 65%;
    display: flex;
    justify-content: space-between;
    font: 600 1.3rem Arial;
}
.rest_inf {
    flex-basis: 30%;
    text-align: center;
}
.down{
    flex-basis: 100%;
}
#arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    border-radius: 50%;
    z-index: 1;
    margin: 0 auto 0;
    cursor: pointer;
    transform: rotate(90deg); 
}
#arrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/*__________________MAIN________________*/
main {
    width: 75%;
    margin: 0 auto 0;
}
#line {
    flex-basis: 100%;
    height: 20px;
}
nav.menu_side {
    position: absolute;
    opacity: 0;
    z-index: -999;
    transform: translate3d(-102%, 30px, 0);
    width: 140px;
    background: rgba(204, 204, 204, 0.21);
    transition: all 0.5s ease-in-out;
 }

 nav.menu_side.show_left_menu {
    opacity: 1;
    z-index: 999;
    position: fixed;
    top: 0;
    transform: translate3d(-102%, 4px, 0);
    transition: all 1s ease-in-out;
 }
 
 .vertical_menu {
     background: #333;
 }
 .vertical_menu:before,
 .vertical_menu:after {
     content: "";
     display: table;
 }
 .vertical_menu:after {
     clear: both;
 }
 .vertical_menu ul > li {
     position: relative;
 }
 .vertical_menu a {
     display: block;
     padding: 5px 5px;
     font-size: 15px;
     line-height: 1.1;
     color:#fff;
 }
 
 .vertical_menu a:hover {
     background: #fff;
     color: #273754;
 }
 
 .vertical_menu {
     background: #273754;
 }

 
 .vertical_menu li ul a {
     border:none;
 }
 
 .vertical_menu li {
     padding: 5px 0 5px 0;
 }
 .vertical_menu ul {
     height: 0;
     opacity: 0;
     pointer-events: none;
     padding-left: 5px;
     border-left: 5px solid #fff;
     -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
     -ms-transition: all 0.2s linear 0s;
     -o-transition: all 0.2s linear 0s;	
     transition: all 0.2s linear 0s;
 }

 .vertical_menu > li:hover #menus_types {
    height: 172px;
    opacity: 1;
    pointer-events: visible;
 }

 .vertical_menu > li:hover #gallery_nav {
    height: 80px;
    opacity: 1;
    pointer-events: visible;
 }

/*_________________CONTENT BLOCK______________*/

.content_field {    
    height: 720px;
    overflow: auto;
}
.content_block {
    padding-top: 80px 10px 0 0;
}
.content_block:first-of-type { 
    padding-top: 30px; 
}
.about_item {
    padding: 80px 10px 0 0;
}
.left_block, .right_block {
    display: inline-block;
    width: 50%;    
    vertical-align: top;
}
.right_block {
    width: 49%;
}
.content_img {
    max-width: 100%;
}
.content_block h3 {
    font: 600 1.4rem Arial;
    text-align: center;
}
.content_block p {
    padding: 20px 0 0 20px;
    font-size: 1.1rem;
    text-indent: 1.5rem;
    text-align: justify;
    line-height: 1.5rem;
}
.left_block p {
    padding: 20px 20px 0 0;
}

/*_____________CONTACTS__________________*/

.contacts {
    font-size: 1.2rem;
}
.section_head {
    font: 700 1.6rem Arial;
    text-align: center;
    padding-top: 30px; 
}
.mail_info {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.mail_item {
    text-align: center;
}
.contact_name {
    padding-top: 8px;
    font: 600 1.3rem Arial;
    border-bottom: 2px solid black;
    display: inline-block;
}
.phone_item {
    margin-top: 45px;
    text-align: center;
}
.time_item {
    margin-top: 20px;
    text-align: center;
}
.place_info {
    margin-top: 30px;
    text-align: center;
}
.place_text {    
    font: 600 1.3rem Arial;
}

/*_______________FOOTER__________________*/
footer{
    margin-top: 25px;
    background-color: #3d3d3d;
}
.footer_container {
    margin: 0 auto 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}
.footer_contacts, .sharing, .cr {
    flex-basis: 30%;   
}
.footer_contacts {
    padding-top: 10px;
    font: 500 0.9rem sans-serif;
}
.address_item {
    padding-bottom: 10px;
}
.cr {
    font-size: 0.9rem;
    text-align: right;
    padding-bottom: 10px;
}

.light {
    background-color: lightcoral;
}