.slider{
    max-width: 80%;
    position: relative;
    height: 300px;
    margin: auto;
    overflow: hidden;
}
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.slider .prev, 
.slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: -15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    z-index: 1;
}

.slider .next {
    right: 10px;
}

.slider .prev {
    left: 10px;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-text {
    position: absolute;
    color: #fff;
    font-size: 35px;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.8;
    background-color: #000;
}

.slider-dots {
    position: absolute;
    bottom: 10px;
    right: 0;
    text-align: center;
    width: 130px;
    z-index: 2;
}

.slider-dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #b5b5b5;;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider-dot.active,
.slider-dot:hover {
    background-color: #fff;
}
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}